.drawer {
  position: fixed;
  top: 74px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--light-green);
  z-index: 999;
  transform: translateY(-100%);
  pointer-events: none;
  visibility: hidden;
  transition: transform 0.7s ease, visibility 0.7s ease;
  padding: 24px 0;
  overflow: auto;
  transition-delay: 0.2s;
}
.mobileMenuContainer {
  width: 100%;
  padding-bottom: 74px;
  height: fit-content;
  opacity: 0;
  transition: opacity 0.7s ease;
}
.mobileWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.popover {
  display: none;
}
.open {
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
  transition-delay: 0;
}
.open .mobileMenuContainer {
  opacity: 1;
}
.drawerNav {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.userMenuMobile {
  margin-top: auto;
}
@media (min-width: 768px) {
  .drawer {
    background: transparent;
    padding: 0;
    transform: translateY(0);
    pointer-events: none;
    visibility: hidden;
    transition: visibility 0.7s ease;
  }
  .open {
    visibility: visible;
    pointer-events: auto;
  }
  .mobileMenuContainer {
    transform: translateY(-100%);
    background: var(--light-green);
    padding: 24px 0;
    margin: 0;
    opacity: 0;
    max-width: 100%;
    z-index: 99999999;
    position: relative;
    transition: transform 0.7s ease, opacity 0.5s ease;
    transition-delay: 0.2s;
  }
  .open .mobileMenuContainer {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0s;
  }
  .mobileWrapper {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }
  .popover {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.7s ease, visibility 0.7s ease;
  }
  .open .popover {
    opacity: 60%;
    visibility: visible;
    pointer-events: auto;
  }
}
@media (min-width: 1440px) {
  .drawer {
    display: none;
  }
}
