.cardAutor {
  transition: transform 0.4s;
}

.avatardAutor {
  border-radius: 50%;
}

.name {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #070721;
}
.cardAutor:hover,
.cardAutor:focus {
  transform: scale(1.05);
}
