.form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    border-radius: 32px;
    padding: 48px 32px;
    margin: 85px 31.5px;
    background: #d1e0d8;
}

.description{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input {
    border: 1.5px solid #9f9f9f;
    border-radius: 16px;
    padding: 8px;
    background: #f7fffb;
    width: 100%;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(100, 145, 121, 0.08);
}
.error {
    color: #d32f2f;
    font-size: 14px;
}

.button {
    border-radius: 64px;
    padding: 8px 0;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    background: #649179;
    color: #f7fffb;
    border: none;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.descriptionRegister{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;

}
.spanRegister{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
@media only screen and (min-width: 768px){
    .form{
        margin: 306px 123px;
    }
}
@media only screen and (min-width: 1440px) {
    .form {
        margin: 246px 524px;
    }
}