.authors {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin-bottom: 16px;
}

.page {
  background-color: var(--white);
  margin: 0 auto;
  padding-top: 48px;
}
