.cardItem {
  border-radius: 32px;
  width: calc((100% - 16px) / 2);
  padding: 12px;
}
.list {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  background-color: var(--white);
  justify-content: start;
}
@media only screen and (min-width: 768px) {
  .cardItem {
    width: calc((100% - 24px) / 2);
  }
  .list {
    padding-left: 54px;
    padding-right: 54px;
    width: 704px;
    gap: 24px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .cardItem {
    width: calc((100% - 24px * 3) / 4);
  }
  .list {
    padding: 0;
    width: 100%;
    gap: 24px;
  }
}
