.loadMore {
  margin: 0 auto;
  width: 340px;
  height: 57px;
  background: #649179;
  border-style: none;
  border-radius: 64px;
  padding: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #f7fffb;
  margin-top: 24px;
  margin-bottom: 48px;
}

/* Styles for Tablet devices */
/* @media only screen and (min-width: 768px) {
  .loadMore {
    margin: 0 auto;
    width: 340px;
    margin-top: 24px;
    margin-bottom: 48px;
  }
} */
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .loadMore {
    /* margin: 0 auto; */
    width: 390px;
  }
}
